{% extends "base.html" %} {% load staticfiles %}
{% block title %} 登录 {% endblock title %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'login/css/login-2.css' %}">

{% endblock head %}

{% block content %}
<div class="wrap flex-c-c">
    <form method="post" action="." class="flex-c-c">
        {% csrf_token %}
        <ul class="select__list">
            <li id="js-usr-new" class="select__label">注册</li>
            <li id="js-usr-rtn" class="select__label select__label--active">登录</li>
            <li id="js-usr-rst" class="select__label">忘记密码</li>
        </ul>
        <span class="pointer"></span>
        <input type="text" placeholder="用户名" class="ui-field" id="js-field__name" name="username" required/>
        <input type="email" placeholder="邮箱" class="ui-field" id="js-field__email" name="email"/>
        <input type="password" placeholder="密码" class="ui-field" id="js-field__pass" name="password"/>
        <input type="password" placeholder="确认密码" class="ui-field" id="js-field__r-pass" name="password2"/>
        <button id="js-btn" class="ui-button --usr-new"></button>
    </form>
</div>

{% endblock content %}

{% block script %}
<script>
    //to-do. dry-up & remove jq
    $('.select__label').click(function() {
        $('.select__label').removeClass('select__label--active');
        $(this).addClass('select__label--active');
    });
    $('#js-usr-new').click(function() {
        $('#js-btn, .pointer, #js-field__r-pass, #js-field__pass').removeClass('--usr-rtn --usr-rst ui-field--hidden');
        $('#js-btn').addClass('--usr-new');
    });
    $('#js-usr-rtn').click(function() {
        $('#js-btn, .pointer, #js-field__pass').removeClass('--usr-new --usr-rst ui-field--hidden');
        $('#js-btn, .pointer').addClass('--usr-rtn');
        $('#js-field__r-pass').addClass('ui-field--hidden');
    });
    $('#js-usr-rst').click(function() {
        $('#js-btn, .pointer').removeClass('--usr-rtn --usr-new');
        $('#js-btn, .pointer').addClass('--usr-rst');
        $('#js-field__r-pass, #js-field__pass').addClass('ui-field--hidden');
    });
</script>
{% endblock script %}