{% extends "base.html" %}
{% load staticfiles %}
{% load comments %}
{% load comments_xtd %}

{% block title %}
小眼记
{% endblock title %}

{% block content %}
<!--因为下文class="tmtimeline"在index.css和learn.css中皆有定义，且不同，因此分开使用-->
<link rel="stylesheet" type="text/css" href="{% static 'css/liuyan.css' %}">
<article>
    <div class="container center_content">
        <div class="subtitle">
            <h2 data-scroll-reveal="enter left and move 20px over 1s">留言板</h2>
            <p class="hidden-xs" data-scroll-reveal="enter bottom and move 20px over 1s">你，生命中最重要的过客，之所以是过客，因为你未曾为我停留。</p>
        </div>
    </div>
</article>

<article-comment>
    <div class="container article-comment">
        <div class="comment-num-center">
            <div class="tixing">
                <P>留言模块正在开发中</P>
                <P><i class="far fa-envelope"></i>
                    <i class="liuyan-email">
                        admin@bgdnuidxv.com
                    </i>
                </P>
            </div>
        </div>
    </div>
</article-comment>
{% endblock content %}

{% block script %}
<style>

</style>
{% endblock script %}