{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
小眼记
{% endblock title %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/index.css' %}">
{% endblock head %}

{% block content %}
<h1>小眼记网站导览</h1>
<div class="bgd center_content">
    <div class="home row"></div>
</div>
{% endblock content %}

{% block script %}
<script>
result = {{ result|safe }};
for (let i=0; i<result.length; i++){
    $('.home').append('<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2"><div class="menu"><a href="https://'
        +result[i][3]+
        '" target="_blank"><img src="/media/'
        +result[i][4]+
        '" class="img-responsive" alt="Responsive image"></a><p>'
        +result[i][2]+
        '</p></div></div>'
    )
}
</script>
{% endblock script %}